body{
    background-color: cadetblue;
    border: 5px solid black;
    background-image: url(redLight_Images/magnezis-magnestic-KUQEo74BgPs-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: monospace;
}

div{
    width: 300px;
    /* border: 15px solid green; */
    padding: auto;
    margin: auto;
}

#reset, #go, #greenLight{
    color:white;
    background-color:rgba(1, 129, 230, .7);
    padding: 15px 20px;
    border-radius: 15px;
    font-size: larger;
    font-family: monospace;
}

#reset:hover{
    background-color: red;
}

#go:hover{
    background-color: yellow; 
    color:black;
    animation:blink 200ms infinite alternate;
}

/* <img src="./redLight_Images/checkerboard.png" /> */
#greenLight:hover{
    background-color: green;
}

#lights, 
#buttons{
    /* border: 5px solid blue; */
    display: flex;
    align-content:space-around;
    justify-content: center;
    width: auto;
    padding: auto;
    margin:auto;
}

 

#lights{
    background-color:#FFDB58 ;
    border: 15px solid black;
    width: 30vw;
    height:70vh;
    padding: auto;
    margin: auto;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.circle {
    border-radius: 50%;
    width: 60%;
    height: 60%;
    /* background-color: blueviolet; */
    animation:blink 200ms infinite alternate;
}

/* .blink{
    animation:blink 600ms infinite alternate;
} */

@keyframes blink {
    from { opacity:1; }
    to { opacity:0; }
};
